In [1]:
import pandas as pd
import numpy as np

In [7]:
of = pd.read_excel('../data/raw/OF 123456.xlsx')

#show rows with missing values



of.tail()

,Orden,Número material,Texto breve material,Lote,Fecha de inicio real,Fecha de fin real,Cantidad entregada,Unidad de medida
200,200205686,123456,MATERIAL DESCRITION,24/108,2024-07-06,2024-08-09,13.63,L
201,200205695,123456,MATERIAL DESCRITION,24/106,2024-07-01,2024-08-06,13.69,L
202,200205696,123456,MATERIAL DESCRITION,24/107,2024-07-01,2024-08-06,13.45,L
203,200205687,123456,MATERIAL DESCRITION,24/109,2024-07-03,2024-08-26,11.35,L
204,200205688,123456,MATERIAL DESCRITION,24/110,2024-07-03,2024-08-06,13.77,L

In [11]:
of["Fecha de inicio real"]

0     2023-04-24
1     2023-04-24
2     2023-04-25
3     2023-04-25
4     2023-05-02
         ...
200   2024-07-06
201   2024-07-01
202   2024-07-01
203   2024-07-03
204   2024-07-03
Name: Fecha de inicio real, Length: 205, dtype: datetime64[ns]

In [16]:
#Show rown with min value for cantidad entregada
of[of["Cantidad entregada"] == of["Cantidad entregada"].min()]

,Orden,Número material,Texto breve material,Lote,Fecha de inicio real,Fecha de fin real,Cantidad entregada,Unidad de medida
26,200184606,123456,MATERIAL DESCRITION,23/046,2023-07-17,2023-07-17,0.0,L
27,200184607,123456,MATERIAL DESCRITION,23/047,2023-07-17,2023-07-17,0.0,L

In [17]:
print(of["Cantidad entregada"].mean())
print(of["Cantidad entregada"].max())

13.538829268292684
14.0

In [6]:
print(of[of.isnull().any(axis=1)])

Empty DataFrame
Columns: [Orden, Número material, Texto breve material, Lote, Fecha de inicio real, Fecha de fin real, Cantidad entregada, Unidad de medida]
Index: []

In [10]:
mov_comp = pd.read_excel('../data/raw/Movimientos componentes.xlsx')

mov_comp.head()

,Lote,Material,Lote interno,Lote Proveedor,Qty,Fecha recepción,Fecha traslado
0,23019,100001,737133,AM1798471,72.0,2023-01-12 00:00:00,2023-03-22 00:00:00
1,23019,100002,676155,K53821835,72.0,2022-03-07 00:00:00,2023-03-15 00:00:00
2,23019,100003,636590,0005065337,4800.0,2021-08-27 00:00:00,2023-03-13 00:00:00
3,23019,100004,655968,2414150,320.0,2021-11-25 00:00:00,2023-03-10 00:00:00
4,23019,100005,723171,M3889,96.0,2022-11-04 00:00:00,2023-03-03 00:00:00

In [29]:
Fases_prod = pd.read_excel('../data/raw/Fases producción.xlsx', sheet_name='Cultivo final')

Fases_prod.columns

Index(['LOTE', 'Orden en el encadenado', 'LOTE parental', 'ID Bioreactor',
       'Fecha/hora inicio', 'Fecha/hora fin', 'Volumen de inóculo utilizado',
       'Turbidez inicio cultivo', 'Turbidez fin cultivo',
       'Viabilidad final cultivo', 'ID Centrífuga',
       'Centrifugación 1 turbidez', 'Centrifugación 2 turbidez', 'Producto 1',
       'Producto 2'],
      dtype='object')

In [32]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split



X = Fases_prod[["Volumen de inóculo utilizado", "Turbidez inicio cultivo", "Turbidez fin cultivo"]]
y = Fases_prod["Producto 1"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rf = RandomForestRegressor(n_estimators=100, random_state=42)

rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

np.float64(48510.7872476611)

In [34]:
import math
math.sqrt(mean_squared_error(y_test, y_pred))

220.251645277989

In [36]:
from sklearn.metrics import mean_squared_error, r2_score
r2_score(y_test, y_pred)

0.2755640009287371