In [2]:
import pandas as pd

In [3]:
# Load inoculo
inoculo = pd.read_csv('../../data/processed/inoculo.csv')

In [4]:
inoculo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      167 non-null    object
 1   ID bioreactor             167 non-null    int64
 2   Fecha/hora inicio         163 non-null    object
 3   Fecha/hora fin            163 non-null    object
 4   Volumen de cultivo        163 non-null    float64
 5   Turbidez inicio cultivo   161 non-null    float64
 6   Turbidez final cultivo    167 non-null    float64
 7   Viabilidad final cultivo  167 non-null    float64
 8   Turbidez_diff             161 non-null    float64
 9   Duracion                  163 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 13.2+ KB

In [5]:
# Rename columns
columns = ['lote', 'id_bio', 'f_h_inicio_ino', 'f_h_fin_ino', 'vol_cultivo_ino', 'turb_inicio_cultivo_ino',
            'turb_fin_cultivo_ino', 'viab_fin_cultivo_ino', 'turb_diff_ino', 'dur_ino',]
inoculo.columns = columns

In [6]:
# f_h_inicio_ino to datetime from madrid AND CONVERT to UTC
inoculo['f_h_inicio_ino'] = pd.to_datetime(inoculo['f_h_inicio_ino'])
inoculo['f_h_inicio_ino'] = inoculo['f_h_inicio_ino'].dt.tz_localize('Europe/Madrid').dt.tz_convert('UTC')

# f_h_fin_ino to datetime from madrid AND CONVERT to UTC
inoculo['f_h_fin_ino'] = pd.to_datetime(inoculo['f_h_fin_ino']) 
inoculo['f_h_fin_ino'] = inoculo['f_h_fin_ino'].dt.tz_localize('Europe/Madrid').dt.tz_convert('UTC')


# dur_ino to timedelta
inoculo['dur_ino'] = pd.to_timedelta(inoculo['dur_ino'])
# Now to seconds
inoculo['dur_ino'] = inoculo['dur_ino'].dt.total_seconds().astype(float)

In [7]:
#id_bio to str
inoculo['id_bio'] = inoculo['id_bio'].astype(str)

In [8]:
# Save with pandas (to a pandas type)
inoculo.to_pickle('../../data/processed/inoculo.pkl')

# Harsh method. Drop all NA

In [9]:
# Drop NA values
inoculo = inoculo.dropna()

In [10]:
inoculo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 4 to 166
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   lote                     161 non-null    object
 1   id_bio                   161 non-null    object
 2   f_h_inicio_ino           161 non-null    datetime64[ns, UTC]
 3   f_h_fin_ino              161 non-null    datetime64[ns, UTC]
 4   vol_cultivo_ino          161 non-null    float64
 5   turb_inicio_cultivo_ino  161 non-null    float64
 6   turb_fin_cultivo_ino     161 non-null    float64
 7   viab_fin_cultivo_ino     161 non-null    float64
 8   turb_diff_ino            161 non-null    float64
 9   dur_ino                  161 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(6), object(2)
memory usage: 13.8+ KB

In [11]:
inoculo.head()

,lote,id_bio,f_h_inicio_ino,f_h_fin_ino,vol_cultivo_ino,turb_inicio_cultivo_ino,turb_fin_cultivo_ino,viab_fin_cultivo_ino,turb_diff_ino,dur_ino
4,23023,14618,2023-03-27 05:22:00+00:00,2023-03-28 05:29:00+00:00,155.2,18.24,31.68,106400000.0,13.44,86820.0
5,23024,14618,2023-03-27 05:22:00+00:00,2023-03-28 05:29:00+00:00,155.2,18.24,31.68,106400000.0,13.44,86820.0
6,23025,13172,2023-03-28 05:42:00+00:00,2023-03-29 04:43:00+00:00,157.6,16.96,27.60,84800000.0,10.64,82860.0
7,23026,13172,2023-03-28 05:42:00+00:00,2023-03-29 04:43:00+00:00,157.6,16.96,27.60,84800000.0,10.64,82860.0
8,23027,13172,2023-04-03 11:30:00+00:00,2023-04-04 09:35:00+00:00,168.0,18.88,23.52,104800000.0,4.64,79500.0