In [10]:
import pandas as pd

In [11]:
# Load inoculo
inoculo = pd.read_csv('../../data/processed/inoculo.csv')

In [12]:
inoculo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      167 non-null    object
 1   ID bioreactor             167 non-null    int64
 2   Fecha/hora inicio         163 non-null    object
 3   Fecha/hora fin            163 non-null    object
 4   Volumen de cultivo        163 non-null    float64
 5   Turbidez inicio cultivo   161 non-null    float64
 6   Turbidez final cultivo    167 non-null    float64
 7   Viabilidad final cultivo  167 non-null    float64
 8   Turbidez_diff             161 non-null    float64
 9   Duracion                  163 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 13.2+ KB

# Harsh method. Drop all NA

In [13]:
# Drop NA values
inoculo = inoculo.dropna()

In [14]:
inoculo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 4 to 166
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      161 non-null    object
 1   ID bioreactor             161 non-null    int64
 2   Fecha/hora inicio         161 non-null    object
 3   Fecha/hora fin            161 non-null    object
 4   Volumen de cultivo        161 non-null    float64
 5   Turbidez inicio cultivo   161 non-null    float64
 6   Turbidez final cultivo    161 non-null    float64
 7   Viabilidad final cultivo  161 non-null    float64
 8   Turbidez_diff             161 non-null    float64
 9   Duracion                  161 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 13.8+ KB

In [15]:
# Rename columns
columns = ['lote', 'id_bio', 'f_h_inicio_ino', 'f_h_fin_ino', 'vol_cultivo_ino', 'turb_inicio_cultivo',
            'turb_fin_cultivo', 'viab_fin_cultivo_ino', 'turb_diff_ino', 'dur_ino',]
inoculo.columns = columns

In [16]:
inoculo.head()

,lote,id_bio,f_h_inicio_ino,f_h_fin_ino,vol_cultivo_ino,turb_inicio_cultivo,turb_fin_cultivo,viab_fin_cultivo_ino,turb_diff_ino,dur_ino
4,23023,14618,2023-03-27 07:22:00,2023-03-28 07:29:00,155.2,18.24,31.68,106400000.0,13.44,1 days 00:07:00
5,23024,14618,2023-03-27 07:22:00,2023-03-28 07:29:00,155.2,18.24,31.68,106400000.0,13.44,1 days 00:07:00
6,23025,13172,2023-03-28 07:42:00,2023-03-29 06:43:00,157.6,16.96,27.60,84800000.0,10.64,0 days 23:01:00
7,23026,13172,2023-03-28 07:42:00,2023-03-29 06:43:00,157.6,16.96,27.60,84800000.0,10.64,0 days 23:01:00
8,23027,13172,2023-04-03 13:30:00,2023-04-04 11:35:00,168.0,18.88,23.52,104800000.0,4.64,0 days 22:05:00

In [17]:
# Save with pandas (to a pandas type)
inoculo.to_pickle('../../data/processed/inoculo.pkl')