# Types and checks of cultivo final

In [9]:
import pandas as pd

In [10]:
# Read cultivo.csv
cf = pd.read_csv('../../data/processed/cf.csv')

In [11]:
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   LOTE                          152 non-null    int64
 1   Orden en el encadenado        152 non-null    int64
 2   LOTE parental                 22 non-null     float64
 3   ID Bioreactor                 152 non-null    int64
 4   Fecha/hora inicio             152 non-null    object
 5   Fecha/hora fin                152 non-null    object
 6   Volumen de inóculo utilizado  147 non-null    float64
 7   Turbidez inicio cultivo       152 non-null    float64
 8   Turbidez fin cultivo          152 non-null    float64
 9   Viabilidad final cultivo      152 non-null    float64
 10  ID Centrífuga                 152 non-null    int64
 11  Centrifugación 1 turbidez     148 non-null    float64
 12  Centrifugación 2 turbidez     143 non-null    float64
 13  Producto 1                    152 non-null    float64
 14  Producto 2                    152 non-null    float64
 15  Duracion                      152 non-null    object
 16  turbidez_diff                 152 non-null    float64
dtypes: float64(10), int64(4), object(3)
memory usage: 20.3+ KB

In [12]:


# Rename columns
cf.columns = ['lote', 'orden_encadenado_cf', 'lote_parental_cf', 'id_bio',
                    'f_h_inicio_cf', 'f_h_fin_cf', 'vol_ino_util_cf', 
                    'turb_inicio_cultivo_cf', 'turb_fin_cultivo_cf', 'viab_final_cultivo_cf',
                      'id_centr', 'centr_1_turb_cf', 'centr_2_turb_cf',
                        'producto_1_cf', 'producto_2_cf', 'dur_cf', 'turbidez_diff_cf']
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lote                    152 non-null    int64
 1   orden_encadenado_cf     152 non-null    int64
 2   lote_parental_cf        22 non-null     float64
 3   id_bio                  152 non-null    int64
 4   f_h_inicio_cf           152 non-null    object
 5   f_h_fin_cf              152 non-null    object
 6   vol_ino_util_cf         147 non-null    float64
 7   turb_inicio_cultivo_cf  152 non-null    float64
 8   turb_fin_cultivo_cf     152 non-null    float64
 9   viab_final_cultivo_cf   152 non-null    float64
 10  id_centr                152 non-null    int64
 11  centr_1_turb_cf         148 non-null    float64
 12  centr_2_turb_cf         143 non-null    float64
 13  producto_1_cf           152 non-null    float64
 14  producto_2_cf           152 non-null    float64
 15  dur_cf                  152 non-null    object
 16  turbidez_diff_cf        152 non-null    float64
dtypes: float64(10), int64(4), object(3)
memory usage: 20.3+ KB

In [16]:
# lote to string
cf['lote'] = cf['lote'].astype(str)

# Orden_encadenado_cf could be string or int

# lote_parental_cf to string
cf['lote_parental_cf'] = cf['lote_parental_cf'].astype(str)

# id_bio to string
cf['id_bio'] = cf['id_bio'].astype(str)

# f_h_inicio_cf to datetime
cf['f_h_inicio_cf'] = pd.to_datetime(cf['f_h_inicio_cf'])

# f_h_fin_cf to datetime
cf['f_h_fin_cf'] = pd.to_datetime(cf['f_h_fin_cf'])

# id_centr to string
cf['id_centr'] = cf['id_centr'].astype(str)

# duracion_cf to timedelta
cf['dur_cf'] = pd.to_timedelta(cf['dur_cf'])
# dur_cf to int
cf['dur_cf'] = cf['dur_cf'].dt.total_seconds().astype(float)

cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lote                    152 non-null    object
 1   orden_encadenado_cf     152 non-null    int64
 2   lote_parental_cf        152 non-null    object
 3   id_bio                  152 non-null    object
 4   f_h_inicio_cf           152 non-null    datetime64[ns, UTC]
 5   f_h_fin_cf              152 non-null    datetime64[ns, UTC]
 6   vol_ino_util_cf         147 non-null    float64
 7   turb_inicio_cultivo_cf  152 non-null    float64
 8   turb_fin_cultivo_cf     152 non-null    float64
 9   viab_final_cultivo_cf   152 non-null    float64
 10  id_centr                152 non-null    object
 11  centr_1_turb_cf         148 non-null    float64
 12  centr_2_turb_cf         143 non-null    float64
 13  producto_1_cf           152 non-null    float64
 14  producto_2_cf           152 non-null    float64
 15  dur_cf                  152 non-null    float64
 16  turbidez_diff_cf        152 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(10), int64(1), object(4)
memory usage: 20.3+ KB

In [14]:
# Times to UTC
cf['f_h_inicio_cf'] = cf['f_h_inicio_cf'].dt.tz_localize('Europe/Madrid').dt.tz_convert('UTC')
cf['f_h_fin_cf'] = cf['f_h_fin_cf'].dt.tz_localize('Europe/Madrid').dt.tz_convert('UTC')

In [15]:
# Save as pkl
cf.to_pickle('../../data/processed/cf.pkl')