In [10]:
import pandas as pd

In [11]:
# Load Biorreactor_Total.csv
bt = pd.read_csv('../../data/processed/Biorreactor_Total.csv')
bt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471717 entries, 0 to 471716
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   DateTime                  471717 non-null  object
 1   Agitation_PV              431877 non-null  float64
 2   Air_Sparge_PV             431877 non-null  float64
 3   Biocontainer_Pressure_PV  431890 non-null  float64
 4   DO_1_PV                   384002 non-null  float64
 5   DO_2_PV                   245346 non-null  float64
 6   Gas_Overlay_PV            431879 non-null  float64
 7   Load_Cell_Net_PV          431888 non-null  float64
 8   pH_1_PV                   426758 non-null  float64
 9   pH_2_PV                   429724 non-null  float64
 10  PUMP_1_PV                 431878 non-null  float64
 11  PUMP_1_TOTAL              431885 non-null  float64
 12  PUMP_2_PV                 431878 non-null  float64
 13  PUMP_2_TOTAL              431884 non-null  float64
 14  Single_Use_DO_PV          431880 non-null  float64
 15  Single_Use_pH_PV          431877 non-null  float64
 16  Temperatura_PV            431881 non-null  float64
 17  Num_Biorreactor           471717 non-null  int64
dtypes: float64(16), int64(1), object(1)
memory usage: 64.8+ MB

In [12]:
#Change name of columns
bt.columns = ("f_h_bt", "vel_agitacion_bt", "aire_sparger_bt", "pres_bio_bt", "pres_par_O2_1_bt", "pres_par_O2_2_bt", "aire_cupula_bt", "peso_bt", "ph_1_bt", "ph_2_bt", "antiespumante_bt", "total_antiespumante_bt", "sol_base_bt", "total_sol_base_bt", "pres_parcial_O2_bt", "ph_cultivo_bt", "temp_bt", "id_bio")

In [13]:
# To datetime format from Madrid and convert to UTC
bt['f_h_bt'] = pd.to_datetime(bt['f_h_bt'])
bt['f_h_bt'] = bt['f_h_bt'].dt.tz_localize('Europe/Madrid',ambiguous='infer').dt.tz_convert('UTC')

# To UTC

In [14]:
# id_bio to string
bt['id_bio'] = bt['id_bio'].astype(str)

In [15]:
bt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471717 entries, 0 to 471716
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   f_h_bt                  471717 non-null  datetime64[ns, UTC]
 1   vel_agitacion_bt        431877 non-null  float64
 2   aire_sparger_bt         431877 non-null  float64
 3   pres_bio_bt             431890 non-null  float64
 4   pres_par_O2_1_bt        384002 non-null  float64
 5   pres_par_O2_2_bt        245346 non-null  float64
 6   aire_cupula_bt          431879 non-null  float64
 7   peso_bt                 431888 non-null  float64
 8   ph_1_bt                 426758 non-null  float64
 9   ph_2_bt                 429724 non-null  float64
 10  antiespumante_bt        431878 non-null  float64
 11  total_antiespumante_bt  431885 non-null  float64
 12  sol_base_bt             431878 non-null  float64
 13  total_sol_base_bt       431884 non-null  float64
 14  pres_parcial_O2_bt      431880 non-null  float64
 15  ph_cultivo_bt           431877 non-null  float64
 16  temp_bt                 431881 non-null  float64
 17  id_bio                  471717 non-null  object
dtypes: datetime64[ns, UTC](1), float64(16), object(1)
memory usage: 64.8+ MB

In [16]:
bt.head()

,f_h_bt,vel_agitacion_bt,aire_sparger_bt,pres_bio_bt,pres_par_O2_1_bt,pres_par_O2_2_bt,aire_cupula_bt,peso_bt,ph_1_bt,ph_2_bt,antiespumante_bt,total_antiespumante_bt,sol_base_bt,total_sol_base_bt,pres_parcial_O2_bt,ph_cultivo_bt,temp_bt,id_bio
0,2023-03-14 23:00:00+00:00,80.0,0.0,0.572660,0.0,-0.00553,4.000087,1576.8,-0.156925,5.888288,0.0,14.88,0.0,191.200293,799.991992,799.967969,30.216161,14614
1,2023-03-14 23:15:00+00:00,80.0,0.0,0.491942,0.0,-0.00553,4.000084,1576.8,-0.156925,5.896104,0.0,14.88,0.0,191.200293,799.991992,799.967969,30.135999,14614
2,2023-03-14 23:30:00+00:00,80.0,0.0,0.552688,0.0,-0.00553,4.000161,1576.8,-0.156925,5.896104,0.0,14.88,0.0,191.200293,799.991992,799.967969,29.823988,14614
3,2023-03-14 23:45:00+00:00,80.0,0.0,0.613318,0.0,-0.00553,4.000088,1576.8,-0.156925,5.896104,0.0,14.88,0.0,191.200293,799.991992,799.967969,29.408039,14614
4,2023-03-15 00:00:00+00:00,80.0,0.0,0.552421,0.0,-0.00553,3.999864,1577.2,-0.156925,5.904210,0.0,14.88,0.0,191.200293,799.991992,799.967969,29.191720,14614

In [17]:
# To pkl
bt.to_pickle('../../data/processed/biorreactor_total.pkl')