In [19]:
import pandas as pd

In [20]:
# load horas centrifugas
hc = pd.read_csv('../../data/processed/horas.csv')
hc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Equipo      487 non-null    int64
 1   Orden       487 non-null    int64
 2   Centrifuga  487 non-null    int64
 3   Inicio      487 non-null    object
 4   Fin         487 non-null    object
dtypes: int64(3), object(2)
memory usage: 19.2+ KB

In [21]:
# Rename columns
hc.columns = ['equipo', 'orden', 'n_centrifugacion_hc', 'f_inicio_hc', 'f_fin_hc']
hc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   equipo               487 non-null    int64
 1   orden                487 non-null    int64
 2   n_centrifugacion_hc  487 non-null    int64
 3   f_inicio_hc          487 non-null    object
 4   f_fin_hc             487 non-null    object
dtypes: int64(3), object(2)
memory usage: 19.2+ KB

In [22]:
# equipo should be string
hc['equipo'] = hc['equipo'].astype(str)
# orden should be string
hc['orden'] = hc['orden'].astype(str)
# centr_hc string
hc['n_centrifugacion_hc'] = hc['n_centrifugacion_hc'].astype(str)
# f_inicio_hc should be datetime
hc['f_inicio_hc'] = pd.to_datetime(hc['f_inicio_hc'])
# f_fin_hc should be datetime
hc['f_fin_hc'] = pd.to_datetime(hc['f_fin_hc'])

hc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   equipo               487 non-null    object
 1   orden                487 non-null    object
 2   n_centrifugacion_hc  487 non-null    object
 3   f_inicio_hc          487 non-null    datetime64[ns]
 4   f_fin_hc             487 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 19.2+ KB

In [23]:
# f_inicio_hc head
hc['f_inicio_hc'].head()

0   2023-11-30 08:38:34
1   2023-11-30 12:50:22
2   2024-02-02 08:39:16
3   2024-02-02 11:50:13
4   2023-03-24 08:11:53
Name: f_inicio_hc, dtype: datetime64[ns]

In [24]:
# It is a Madrid time zone. Convert to UTC
hc['f_inicio_hc'] = hc['f_inicio_hc'].dt.tz_localize('Europe/Madrid').dt.tz_convert('UTC')
hc['f_fin_hc'] = hc['f_fin_hc'].dt.tz_localize('Europe/Madrid').dt.tz_convert('UTC')

In [25]:
# save as pkl
hc.to_pickle('../../data/processed/horas.pkl')