In [15]:
import pandas as pd

In [16]:
# Load pino
pino = pd.read_csv('../../data/processed/preinoculo.csv')

In [17]:
pino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Lote        161 non-null    object
 1   f_h_inicio  161 non-null    object
 2   f_h_fin     161 non-null    object
 3   ph_1        159 non-null    float64
 4   ph_2        148 non-null    float64
 5   ph_3        130 non-null    float64
 6   turb_1      159 non-null    float64
 7   turb_2      148 non-null    float64
 8   turb_3      131 non-null    float64
 9   usada_1     161 non-null    int64
 10  usada_2     161 non-null    int64
 11  usada_3     161 non-null    int64
 12  duracion    161 non-null    object
dtypes: float64(6), int64(3), object(4)
memory usage: 16.5+ KB

We do not need all these columns. Lets make remake pino so it has one value per row and drop not used values.

In [18]:
# We should repeat Lote, for each row, but also duracion and f_h_inicio and f_h_fin

# We will create a new dataframe for each usada_1==1 value and from that we need 
# ['ph_1']['turb_1']['f_h_inicio']['f_h_fin']['duracion']['lote']

# For each usada 
lineas = [1,2,3]
new_pino = pd.DataFrame()
for linea in lineas:
    usada = pino[pino['usada_'+str(linea)]==1]
    usada = usada[['ph_'+str(linea),'turb_'+str(linea),'f_h_inicio','f_h_fin','duracion','Lote']].reset_index(drop=True)
    usada.rename(columns={'ph_'+str(linea):'ph','turb_'+str(linea):'turb'},inplace=True)
    new_pino = pd.concat([new_pino,usada],ignore_index=True)
new_pino

,ph,turb,f_h_inicio,f_h_fin,duracion,Lote
0,5.496,28.32,2023-03-26 05:00:00,2023-03-27 07:21:00,1 days 02:21:00,23023
1,5.496,28.32,2023-03-26 05:00:00,2023-03-27 07:21:00,1 days 02:21:00,23024
2,5.480,26.56,2023-03-17 06:00:00,2023-03-28 07:42:00,11 days 01:42:00,23025
3,5.480,26.56,2023-03-17 06:00:00,2023-03-28 07:42:00,11 days 01:42:00,23026
4,5.384,33.84,2023-04-02 05:00:00,2023-04-03 13:30:00,1 days 08:30:00,23027
...,...,...,...,...,...,...
299,5.480,29.68,2024-05-30 00:30:00,2024-05-31 07:46:00,1 days 07:16:00,24089
300,5.392,26.64,2024-06-30 00:30:00,2024-07-01 07:01:00,1 days 06:31:00,24104
301,5.392,26.64,2024-06-30 00:30:00,2024-07-01 07:01:00,1 days 06:31:00,24105
302,5.504,25.60,2024-07-04 00:30:00,2024-07-05 07:04:00,1 days 06:34:00,24108
303,5.504,25.60,2024-07-04 00:30:00,2024-07-05 07:04:00,1 days 06:34:00,24111

In [19]:
# Rename Lote to lote
new_pino.rename(columns={'Lote':'lote'},inplace=True)

In [20]:
# Lote to str
new_pino['lote'] = new_pino['lote'].astype(str)
# f_h_inicio and f_h_fin to datetime
new_pino['f_h_inicio'] = pd.to_datetime(new_pino['f_h_inicio'])
new_pino['f_h_fin'] = pd.to_datetime(new_pino['f_h_fin'])
# duracion to timedelta
new_pino['duracion'] = pd.to_timedelta(new_pino['duracion'])
new_pino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ph          303 non-null    float64
 1   turb        304 non-null    float64
 2   f_h_inicio  304 non-null    datetime64[ns]
 3   f_h_fin     304 non-null    datetime64[ns]
 4   duracion    304 non-null    timedelta64[ns]
 5   lote        304 non-null    object
dtypes: datetime64[ns](2), float64(2), object(1), timedelta64[ns](1)
memory usage: 14.4+ KB

In [21]:
# Show the nan row
new_pino[new_pino.isnull().any(axis=1)]

     ph   turb          f_h_inicio             f_h_fin        duracion   lote
297 NaN  27.84 2024-05-12 00:30:00 2024-05-13 07:54:00 1 days 07:24:00  24075

In [22]:
new_pino

,ph,turb,f_h_inicio,f_h_fin,duracion,lote
0,5.496,28.32,2023-03-26 05:00:00,2023-03-27 07:21:00,1 days 02:21:00,23023
1,5.496,28.32,2023-03-26 05:00:00,2023-03-27 07:21:00,1 days 02:21:00,23024
2,5.480,26.56,2023-03-17 06:00:00,2023-03-28 07:42:00,11 days 01:42:00,23025
3,5.480,26.56,2023-03-17 06:00:00,2023-03-28 07:42:00,11 days 01:42:00,23026
4,5.384,33.84,2023-04-02 05:00:00,2023-04-03 13:30:00,1 days 08:30:00,23027
...,...,...,...,...,...,...
299,5.480,29.68,2024-05-30 00:30:00,2024-05-31 07:46:00,1 days 07:16:00,24089
300,5.392,26.64,2024-06-30 00:30:00,2024-07-01 07:01:00,1 days 06:31:00,24104
301,5.392,26.64,2024-06-30 00:30:00,2024-07-01 07:01:00,1 days 06:31:00,24105
302,5.504,25.60,2024-07-04 00:30:00,2024-07-05 07:04:00,1 days 06:34:00,24108
303,5.504,25.60,2024-07-04 00:30:00,2024-07-05 07:04:00,1 days 06:34:00,24111

# Original

In [23]:
# as pkl
new_pino.to_pickle('../../data/processed/preinoculo.pkl')

# Harsh method

In [24]:
# Drop duplicates
print(new_pino.shape)
new_pino.drop_duplicates(inplace=True)
print(new_pino.shape)

(304, 6)
(304, 6)

In [25]:
# Drop na
print(new_pino.shape)
new_pino.dropna(inplace=True)
print(new_pino.shape)

(304, 6)
(303, 6)

In [26]:
# as pkl
#new_pino.to_pickle('../../data/processed/preinoculo.pkl')

# Mega harsh method: drop all which only have 1 lÃ­nea (value per lote)

In [27]:
# Drop all which only have 1 value per lote
print(new_pino.shape)
new_pino = new_pino.groupby('lote').filter(lambda x: len(x)>1)
print(new_pino.shape)

(303, 6)
(284, 6)

In [28]:
# Save as pkl
#new_pino.to_pickle('../../data/processed/preinoculo.pkl')