# Types and checks of temperatura y humedades

In [2]:
import pandas as pd

In [3]:
th = pd.read_csv('../../data/processed/th.csv')
th.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13104 entries, 0 to 13103
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DateTime         13104 non-null  object
 1   06299_TI1302.PV  13101 non-null  float64
 2   06299_MI1302.PV  13100 non-null  float64
 3   06299_TI1402.PV  13101 non-null  float64
 4   06299_MI1402.PV  13101 non-null  float64
 5   07633_TI0601.PV  13103 non-null  float64
 6   07633_HI0101.PV  13103 non-null  float64
 7   07781_TI1501.PV  13099 non-null  float64
 8   07781_MI1501.PV  13100 non-null  float64
dtypes: float64(8), object(1)
memory usage: 921.5+ KB

In [4]:
# Rename the columns from this dict
columns = {'DateTime': 'datetime_th',
           '06299_TI1302.PV': 't_bio_th',
              '06299_MI1302.PV': 'h_bio_th',
                '06299_TI1402.PV': 't_cent_th',
                    '06299_MI1402.PV': 'h_cent_th',
                        '07633_TI0601.PV': 't_al_princ_th',
                            '07633_HI0101.PV': 'h_al_princ_th',
                                '07781_TI1501.PV': 't_al_prod_th',
                                    '07781_MI1501.PV': 'h_al_prod_th'}
th.rename(columns=columns, inplace=True)
th.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13104 entries, 0 to 13103
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime_th    13104 non-null  object
 1   t_bio_th       13101 non-null  float64
 2   h_bio_th       13100 non-null  float64
 3   t_cent_th      13101 non-null  float64
 4   h_cent_th      13101 non-null  float64
 5   t_al_princ_th  13103 non-null  float64
 6   h_al_princ_th  13103 non-null  float64
 7   t_al_prod_th   13099 non-null  float64
 8   h_al_prod_th   13100 non-null  float64
dtypes: float64(8), object(1)
memory usage: 921.5+ KB

In [5]:
# datetime_th to datetime
th['datetime_th'] = pd.to_datetime(th['datetime_th'])
# To UTC from Madrid
th['datetime_th'] = th['datetime_th'].dt.tz_localize('Europe/Madrid', ambiguous='infer').dt.tz_convert('UTC')

In [6]:
# Save to pkl
th.to_pickle('../../data/processed/th.pkl')